#setCss()##设置自定义css
#breadcrumbs("系统管理,组织机构管理")##设置导航栏
<div class="miain-div-context">
	<div class="search-widget-box">
        <div class="form-inline" role="form">
            <table class="search-table">
                <tr>
                    <td>
						<div class="input-group">
                    		<span class="input-group-addon">
                    			用户名
                    		</span>
                    		<input type="text" name="name" id="name"/>
						</div>
					</td>
					<td>
						<div class="input-group">
                    		<span class="input-group-addon">
                    			手机号
                    		</span>
                    		<input type="text" name="mobile" id="mobile"/>
						</div>
					</td>
                    <td>
                        <div class="input-group">
                    		<span class="input-group-addon">
                    			邮箱
                    		</span>
                            <input type="text" name="email" id="email"/>
                        </div>
                    </td>
                    <td>
                        <a id="serarch"  class="btn btn-success btn-search btn-sm" href="#"><i class="icon-search"></i>查询</a>
                        <a id="reset"  class="btn  btn-grey btn-reset btn-sm" href="#"><i class="icon-repeat"></i>重置</a>
					</td>
				</tr>		
            </table>
        </div>
    </div>
	<div id="toolbar">
        <div class="btn-group lighter">
			<button class="btn btn-sm disabled btn-danger">操作列表:</button>&nbsp;
            <button type="button" class="btn btn-info btn-sm btn-save">
				<i class="icon-save align-top bigger-110" ></i>添加
			</button>
            <button type="button" class="btn btn-info btn-sm btn-edit">
				<i class="icon-edit align-top bigger-110"></i>修改
			</button>
            <button type="button" class="btn btn-info btn-sm btn-delete">
				<i class="icon-trash align-top  bigger-110"></i>删除
			</button>
			<button type="button" class="btn btn-info btn-sm btn-detail">
				<i class="icon-align-justify align-top  bigger-110"></i>详情
			</button>
        </div>
        <div class="btn-group lighter">
            <button class="btn btn-yellow btn-sm btn-set-role">
                <i class="icon-eye-open align-top  bigger-110"></i>设置角色
            </button>
			<button class="btn btn-danger btn-sm btn-reset-pwd">
				<i class="icon-undo align-top  bigger-110"></i>重置密码
			</button>
        </div>
    </div>
   <table id="tb-datagrid" data-toggle="table" class="datagrid-table" data-url="$!finance_admin_path/admin/system/user/getData.html"
		  data-height="740"##	定义表格的高度。
		  data-method="get"##	此处必须是GET，服务器数据的请求方式 'get' or 'post'
		  data-side-pagination="server"##服务器分页
          data-pagination="true"##显示分页
		  data-page-size="20"##分页条数
		  data-striped="true"##	设置为 true 会有隔行变色效果
		  data-id-field="id"##	指定主键列
		  data-click-to-select="true" ##单击选中checkbox
		  data-query-params="queryParams"##请求服务器数据时参数
		  data-toolbar="#toolbar"##
		  >
        <thead>
            <tr >
				<th data-field="state" data-checkbox="true"></th>
                ##<th data-field="id">ID</th>
                <th data-field="index" data-formatter="indexFormatter" data-width="10px">序号</th>
                <th data-field="userName">用户名</th>
				<th data-field="name">姓名</th>
				<th data-field="sex" data-formatter="sexFormatter">性别</th>
				<th data-field="nickname">昵称</th>
				<th data-field="stat" data-formatter="statFormatter">状态(点击可修改)</th>
				<th data-field="email">邮箱</th>
                <th data-field="mobile">手机号</th>
				<th data-field="createdDate" data-width="130px" data-formatter="daterFormatter">添加时间</th>
				<th data-field="updatedDate" data-width="130px" data-formatter="daterFormatter">更新时间</th>
            </tr>
        </thead>
   </table>
</div>
##设置自定义js
#setJs("/jibinfoFinance/manager/js/finance/system/user.js,/common/webuploader/webuploader.min.js")