#set($header_params={"css":"jibinfoFinance/mobile/css/mat_plugins.css,jibinfoFinance/mobile/css/zero_rate.css","Keywords":"坚卓-金融车","Description":"坚卓-金融车","title":"坚卓-金融车"})
#frontend_header($header_params)
<div class="page subBrandsPage">
	<div class="header-base-color">
        <header class="bar bar-nav header-bg">
            <a href="javascript:history.back();" class="back-to-prev-btn"><span class="icon icon-left"></span></a>
            <h2 class="text-center bar-title">品牌</h2>
        </header>
    </div>    
	<div class="zero_rate_content subBrands" style="padding-top: 0.5rem;">
        <div class="tabs brandsDescr">
    		<ul class="list-unstyled list-container">    
				<li class="item-content item-example" style="display: none">
					<a href="">
					<div class="top">
					  	<img class="carImg" src=""/>
    				  	<p class="carName"></p>
                        <div class="J_temp">
                            <div class="J_temp_example hidden J_temp_current"><p class="J_temp_p"></p></div>
						</div>
    				 </div>
                     <div class="activities">
                        <div class="activities_example activities_current hidden">
							<p class="acticityName"></p>
						</div>
					 </div>
					</a>
                 </li>
			</ul>
    	</div>
	</div>
</div>

#set($footerParams={"js":"jibinfoFinance/mobile/scripts/subBrands.js"})
#frontend_footer($footerParams)