<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	    http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<mvc:resources location="/robots.txt" mapping="/robots.txt"/>
	
	<mvc:annotation-driven />
	<context:component-scan base-package="com.jibinfo" />
	<context:annotation-config />
	
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- druid spring 监控配置 
    <aop:config proxy-target-class="true">
        <aop:advisor advice-ref="druid-stat-interceptor" pointcut-ref="druid-stat-pointcut" />
    </aop:config>
    -->
	<bean id="propertyResolver"
		class="com.jibinfo.framework.runtime.PropertyPlaceholderResolver">
		
		<property name="absolutes">
			<list>
            	<value>/data0/etc/common/redis.properties</value>
            	<value>/data0/etc/common/urlPath.properties</value>
            	<value>/data0/etc/common/common.properties</value>
            	<value>/data0/etc/finance/system.properties</value>
			</list>
		</property>
		
		<property name="localOverride" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath">
            <value>WEB-INF/view,classpath:com/jibinfo/vm</value>
        </property>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="file.resource.loader.cache">false</prop>
                <prop key="velocimacro.library.autoreload">true</prop>
                <prop key="velocimacro.library">/template/main.vm</prop>
                <prop key="velocimacro.permissions.allow.inline.to.replace.global">true</prop>
                <prop key="velocimacro.permissions.allow.inline.local.scope">false</prop>
            </props>
        </property>
    </bean>
    
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".vm"/>
        <property name="toolboxConfigLocation" value="/WEB-INF/velocity_toolbox.xml"/>
        <property name="contentType" value="text/html; charset=utf-8"></property>
        <property name="exposeSpringMacroHelpers" value="true"/>
    </bean>
    
    <import resource="classpath*:spring/springContext_*.xml" />
	<import resource="classpath*:spring/*/springContext_*.xml" />
    
</beans>