## 添加页面
#set( $static_path = ${config.getProperty("urlPath","static_path")})
<form class="save-update-form" role="form" method="POST">
	<div class="input-group">
		<span class="input-group-addon input-group-addon-80">
			关键词
		</span>
		<input style="width:355px" type="text" name="words" class="required"/>
	</div>
	<div class="space-4"></div>
	<div class="input-group">
		<span class="input-group-addon input-group-addon-80">
			描述
		</span>
		<input style="width:355px" type="text" name="remark" class="required"/>
	</div>
</form>
