## 添加页面
<form class="form-horizontal save-update-form" role="form" method="POST">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="form-field-1">字典编码</label>
        <div class="col-sm-9">
            <input type="text" name="code" value="$!code" class="col-xs-12 col-sm-10 required" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="form-field-1">字典名称</label>
        <div class="col-sm-9">
            <input type="text" name="name" class="col-xs-12 col-sm-10 required" />
        </div>
    </div>
</form>
