#set($header_params={"css":"jibinfoFinance/mobile/css/modifyPassword.css","Keywords":"坚卓-金融车","Description":"坚卓-金融车","title":"坚卓-金融车"})
#frontend_header($header_params)
<div class="page">
    ##主内容开始
    <div class="header-base-color">
        <header class="bar bar-nav header-bg">
            <a href="javascript:history.back();" class="back-to-prev-btn"><span class="icon icon-left"></span></a>
            <h2 class="text-center bar-title">设置修改密码</h2>
        </header>
    </div>
	<div class="modifyPassword-content">
		<div class="progress_bar">
			<div class="left-circle active"></div>
			<div class="line"></div>
			<div class="right-circle"></div>
			<div class="left-descr"><p>身份验证</p></div>
			<div class="right-descr"><p>设置修改密码</p></div>
		</div>
		<div class="captcha-update list-block">
            <ul>
                <li>
                    <div class="item-content">
						<div class="item-inner">
							<div class="item-title label">手机号</div>
							<div class="item-input">
								<input type="text" id="mobile" placeholder="请输入手机号">
                        	</div>
						</div>
                    </div>
                </li>
				 <li>
                    <div class="item-content">
						<div class="item-inner">
							<div class="item-title label">图形验证码</div>
							<div class="item-input user-captcha">
								<input type="text" id="validcode" placeholder="图形验证码">
								<img class="user-captcha-image" id="codeimages">
                        	</div>
						</div>
                    </div>
                </li>
				 <li>
                    <div class="item-content">
						<div class="item-inner">
							<div class="item-title label">验证码</div>
							<div class="item-input get-captcha">
								<input type="text" id="captcha" placeholder="验证码">
								<p class="code-link right" id="get_payidentify" href="javascript:void(0);">
            			        	 <span class="medium" id="buttonClickCaptcha">发送验证码</span>
        			            </p>
                        	</div>
						</div>
                    </div>
                </li>
			</ul>
			<p class="" style="display:none;" id="register_prompt">请输入正确手机号码</p>
            <div class="next-button"><button type="button" class="next-text">下一步</button></div>
        </div>
    </div>
    <div class="modifyPassword-second-content" style="display: none;">
		<div class="progress_bar">
			<div class="left-circle active"></div>
			<div class="line active"></div>
			<div class="right-circle active"></div>
            <div class="left-descr"><p>身份验证</p></div>
			<div class="right-descr"><p>设置修改密码</p></div>
		</div>
        <div class="list-block second-modify captcha-update">
			<ul>
                <li>
                    <div class="item-content">
						<div class="item-inner">
							<div class="item-title label">密码</div>
							<div class="item-input">
								<input type="text" id="mobile" placeholder="请输入密码（6-20位字母数字组合）">
                        	</div>
						</div>
                    </div>
                </li>
				<li>
                    <div class="item-content">
						<div class="item-inner">
							<div class="item-title label">密码</div>
							<div class="item-input">
								<input type="text" id="confirmMobile" placeholder="再输入一次">
                        	</div>
						</div>
                    </div>
                </li>
			</ul>
			 <div class="confirm-button"><button type="button" class="confirm-text">确认</button></div>
		</div>
	</div>
	
</div>

#set($footerParams={"js":"jibinfoFinance/mobile/scripts/modifyPassword.js"})
#frontend_footer($footerParams)