<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jibinfo.finance.mapper.system.SystemAdminUserMapper" >
  <resultMap id="BaseResultMap" type="com.jibinfo.finance.entity.system.SystemAdminUser" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="userPwd" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="USER_ICON" property="userIcon" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="STAT" property="stat" jdbcType="CHAR" />
    <result column="LAST_LOGIN_DATE" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_NAME, USER_PWD, NAME, USER_ICON, SEX, NICKNAME, STAT, LAST_LOGIN_DATE, LAST_LOGIN_IP, 
    EMAIL, MOBILE, IS_DEL, CREATED_DATE, UPDATED_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jibinfo.finance.entity.system.SystemAdminUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from system_admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_admin_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_admin_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jibinfo.finance.entity.system.SystemAdminUserExample" >
    delete from system_admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jibinfo.finance.entity.system.SystemAdminUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_admin_user (USER_NAME, USER_PWD, NAME, 
      USER_ICON, SEX, NICKNAME, 
      STAT, LAST_LOGIN_DATE, LAST_LOGIN_IP, 
      EMAIL, MOBILE, IS_DEL, 
      CREATED_DATE, UPDATED_DATE)
    values (#{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{userIcon,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{stat,jdbcType=CHAR}, #{lastLoginDate,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{isDel,jdbcType=CHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jibinfo.finance.entity.system.SystemAdminUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_admin_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPwd != null" >
        USER_PWD,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="userIcon != null" >
        USER_ICON,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="stat != null" >
        STAT,
      </if>
      <if test="lastLoginDate != null" >
        LAST_LOGIN_DATE,
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null" >
        #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        #{stat,jdbcType=CHAR},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jibinfo.finance.entity.system.SystemAdminUserExample" resultType="java.lang.Integer" >
    select count(*) from system_admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update system_admin_user
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null" >
        USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userIcon != null" >
        USER_ICON = #{record.userIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.stat != null" >
        STAT = #{record.stat,jdbcType=CHAR},
      </if>
      <if test="record.lastLoginDate != null" >
        LAST_LOGIN_DATE = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginIp != null" >
        LAST_LOGIN_IP = #{record.lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        IS_DEL = #{record.isDel,jdbcType=CHAR},
      </if>
      <if test="record.createdDate != null" >
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedDate != null" >
        UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update system_admin_user
    set ID = #{record.id,jdbcType=BIGINT},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      USER_ICON = #{record.userIcon,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      STAT = #{record.stat,jdbcType=CHAR},
      LAST_LOGIN_DATE = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      LAST_LOGIN_IP = #{record.lastLoginIp,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      IS_DEL = #{record.isDel,jdbcType=CHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jibinfo.finance.entity.system.SystemAdminUser" >
    update system_admin_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null" >
        USER_ICON = #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        STAT = #{stat,jdbcType=CHAR},
      </if>
      <if test="lastLoginDate != null" >
        LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jibinfo.finance.entity.system.SystemAdminUser" >
    update system_admin_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      USER_ICON = #{userIcon,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR},
      STAT = #{stat,jdbcType=CHAR},
      LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=TIMESTAMP},
      LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      IS_DEL = #{isDel,jdbcType=CHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>